<header id="header">
  <a href="/">
    <h1>Cryptic Club</h1>
  </a>
  <nav>
    <ul id="header-links">
      <% if (currentUser) { %>
      <li class="header-link primary-btn"><a href="/logout">Logout</a></li>
      <li class="header-link secondary-btn"><a href="/profile">Profile</a></li>
      <% } else { %>
      <li class="header-link primary-btn"><a href="/login">Login</a></li>
      <li class="header-link secondary-btn"><a href="/sign-up">Sign Up</a></li>
      <% } %>
    </ul>
  </nav>
</header>
