<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cryptic Club | <%=title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include ("partials/header") %>
    <main>
      <h1><%=title%></h1>
      <form method="post">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          required
          minlength="3"
          maxlength="30"
        />
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          minlength="8"
        />
        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
          minlength="8"
        />
        <input type="submit" value="Sign Up" />
        <% if (error !== null) { %>
        <p style="color: red"><%= error %></p>
        <% } %>
      </form>
    </main>
  </body>
</html>
