<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cryptic Club | <%=title%></title>
  </head>
  <body>
    <h1>Cryptic Club | <%=title%></h1>
    <form action="/sign-up" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <input type="submit" value="Sign Up" />
    </form>
  </body>
</html>
