@import url("style.css");

.profile-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #434343;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px var(--shadow-color);
  min-width: 400px;
  padding: 2em;
}

.profile-name {
  margin-bottom: 1em;
}

.roles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.role-heading {
  margin-bottom: 0.5em;
}

.roles-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.role {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em 0.5em;
  border-radius: 5px;
}

.user-role {
  background: transparent;
  border: 2px solid var(--button-bg-color);
  color: var(--button-bg-color);
}

.member-role {
  background: rgb(40, 240, 193);
  border: 2px solid rgb(40, 240, 193);
  color: var(--stroke-color);
}

.admin-role {
  background: rgb(255, 120, 120);
  border: 2px solid rgb(255, 120, 120);
  color: var(--stroke-color);
}
